<!--
Inherits the following models from ResourceBookingCtrl controller:
res: res.name, res.id, res.owner, res.image, etc
dates: array of day
day: day.dow, day.date
-->
<ion-view view-title="{{res.name}}">
  <ion-content class="padding">
    <a href="#/tab/resources/info/{{res.id}}">
    <img src="http://{{MertServer}}/images/{{res.image}}" 
      style="height:200px; display:block; margin:0 auto;"
    /></a>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="day in dates" type="item-text-wrap" 
      href="#/tab/resources/timeslots/{{day.date}}/{{day.dow}}/{{res.id}}">
        <h2>{{day.dow}} {{day.date}}</h2>
        <p>Utilization Bar</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <!--p>
      {{res.image}}
      {{res.owner}}
      <a href="#/tab/resources/info/1">Goto Info</a>
    </p-->
  </ion-content>
</ion-view>
