<ion-view view-title="Requests">
  <ion-content class="padding">
    <br><br><br>
    <h2 style='text-align:center'>
      SalesForce Requests
    </h2>
    <br>
    <br>
    <p style='text-align:center;'>
      (For Testing Only. Nothing to do with SF)<br>
      <select ng-model="user.name">
        <option>philip</option>
        <option>david</option>
        <option>ratheesh</option>
        <option>francis</option>
     </select>
    </p>
    <p style='text-align:center;'>
      <button ng-click="showuser()"> Show Who </button>
    </p>
    <p style='text-align:center;'>
      <button ng-click="resetuser()"> Reset User </button>
    </p>
    <br><br><br>
    <p style='text-align:center'>
      SalesForce Integration PENDING
    </p>
  </ion-content>
</ion-view>
